{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}

    <form action="/send" method="post">
        <div class="row justify-content-md-center">
            <div class="col-3">
                {% for row in mail_full %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">To:</label>
                    <input type="text" class="form-control mb-3" id="staticEmail" name="mail" value="{{ row.sender }}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Subject</label>
                    <input type="text" class="form-control mb-3" id="staticEmail" name="subject" value="{{ row.subject }}">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleFormControlTextarea1">Body</label>
                    <textarea class="form-control mb-3" name="body" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <div class="mb-3">{{ info }}</div>
                <button type="submit" class="btn btn-success">Reply</button>
                </div>
                {% endfor %}
            </div>
    </form>
{% endblock %}