{% extends "layout.html" %}

{% block title %}
    Inbox
{% endblock %}

{% block main %}
    <table class="table">
        <tbody>
        {% for row in mails %}
        <tr>
            <td><b>{{ row["sender"] }}</b></td>
            <td>{{ row["time"] }}</td>
            <td>{{ row["subject"] }}</td>
            <td>{{ row["body"] }}</td>
            <td>
                <form action="mail" method="post">
                    <input type="hidden" name="mail_id" value="{{ row.id }}">
                    <input type="submit" class="btn btn-secondary" value="View Mail">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}