{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
    <div>
        {% for row in mail_full %}
        <div class="list-group-item mb-3 col-5">
            <h3>From: {{ row["sender"] }}</h3>
            <h4>Subject: {{ row["subject"] }}</h4>
            <p>{{ row["time"] }}</p>
            <p>{{ row["body"] }}</p>
        </div>
        <div>
            <form action="reply" method="post">
                <input type="hidden" name="mail_id" value="{{ row.id }}">
                <input type="submit" class="btn btn-secondary mb-3" value="Reply">
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}