{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <form action="/login" method="post">
            <div class="mb-5">
                <h2 id="text">Sign up</h2>
            </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Mail" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-2">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="mb-3">{{ info }}</div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Register</button>
        </div>
        <div>
            Already have an account? <a href="login">Log In</a>
        </div>
    </form>
{% endblock %}